#container {
    width: 1350px;
    margin: 0px auto; /* 위아래 양옆*/
    padding: 20px;
  }

  #header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
  }

  #content {
    width: 1000px;
    height: 1000px;
    padding: 20px;
    margin-bottom: 20px;
    float: left; /*float 을 설정한 태그의 조상 태그 기준으로 왼쪽 위치*/
    border: 1px solid #bcbcbc;
  }

  #sidebar1 {
    width: 260px;
    height: 150px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #bcbcbc;
  }
  #sidebar2 {
    width: 260px;
    height: 790px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #bcbcbc;
  }

  #footer {
    clear: both;
    padding: 20px;
    border: 1px solid #bcbcbc;
  }

  ul.h {
    list-style-type: none; /*목록 원소 표기할 기호 설정*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aliceblue;
  }
  li.h {
    float: left;
  }
  li.h a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active {
    background-color: fuchsia;
  }
  a {
    text-decoration: none;
  }
  a.slink:link {
    color: black;
  } /**/
  a.slink:visited {
    color: blue;
  }
  a.slink:hover {
    color: red;
  }